[Unit]
Description=Ginner
Documentation=
After=network.target
Wants=

[Service]
Type=simple
EnvironmentFile=/your-project-path/conf/systemd.ENV
ExecStart=/your-project-path/ginner
KillMode=process
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
