[Unit]
Description=Ginner
Documentation=
After=network.target
Wants=

[Service]
Type=simple
#User=
#Group=
# dev
ExecStart=/your-project-path/ginner -c /your-project-path/conf/dev.config.toml
# production
#ExecStart=/your-project-path/ginner -c /your-project-path/conf/config.toml
KillMode=process
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
